/*==================HEADER==================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  margin-top: 10px;
  z-index: 999;
  padding: 10px 20px;
  box-sizing: border-box;

  .header-main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  h4 {
    background: white !important;
    background-clip: text !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .back-button a {
    background: linear-gradient(228deg, #1F8BF7 8.86%, #DC33FC 97.56%), #D9D9D9;
    padding: 5px 15px;
    font-family: var(--fuente-títulos);
    color: white;
    font-weight: light;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 8px;
    display: flex;
    gap: 1rem;
  }

  .menu-content {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .pt {
    background: linear-gradient(228deg, #1F8BF7 8.86%, #DC33FC 97.56%), #D9D9D9;
    width: 50px;
    height: 50px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: var(--fuente-títulos);
    color: white;
    font-weight: light;
    font-size: 1.5rem;
  }

  .menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
  }

  .score-display {
      display: flex;
      align-items: center;
      gap: 1rem;
    }


  /*==============================ESTILOS RESPONSIVE==============================*/
  @media screen and (max-width: 900px) {
    .back-button a {
      font-family: var(--fuente-texto);
      padding: 5px 10px;
      font-size: 1.1rem;
      gap: 2px;
    }

    .menu-toggle {
      display: block;
      order: 2;
      z-index: 1000;
      background-color: var(--color-secundario);
      border-radius: 10px;
      font-size: 30px;
    }

    .menu-content {
      position: fixed;
      top: 0;
      right: -100%;
      width: 70%;
      height: 100vh;
      background: var(--color-fondo);
      flex-direction: column;
      justify-content: flex-start;
      padding: 80px 20px 20px;
      gap: 2rem;
      box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
      transition: right 0.3s ease;
      
      &.mobile-menu-open {
        right: 0;
      }
    }

    .score-display {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      & div:nth-child(1){
        display: flex;
        align-items: center;
      }
    }

    .pt {
      width: fit-content;
      height: fit-content;
      padding: 5px 15px;
      font-size: 1.3rem;
    }

    h4 {
      font-family: var(--fuente-texto);
      font-size: 1.1rem;
    }

    .menu-icon {
      margin-top: 2rem;
    }
  }

  @media screen and (min-width: 901px) {
    .mobile-menu-open {
      position: static;
      width: auto;
      height: auto;
      flex-direction: row;
      padding: 0;
      box-shadow: none;
    }
  }
}